*::-webkit-scrollbar {
  display: none;
}
.Header {
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 4px;
  justify-content: center;
  background-color: #17252a;
}

.Header::-webkit-scrollbar {
  display: none;
}
.Nav_link {
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;

  color: white;
  transform: transform 50ms ease-out;
}

.Nav_link:active {
  color: #def2f1;
  text-decoration: none;

}

.Nav_link:hover {
  transform: scale(1.4);
}
.Nav_link:link {
  color: #def2f1;
  text-decoration: none;
}

.activeRoute {
  color: #def2f1;
  text-decoration: none;
}
