.Bio {
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.Bio > p ,h5{
  color: white;
  justify-content: center;
  display: flex;

  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.stacks{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
